<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suit">
<listeners>
<listener class-name="com.companyname.projectname.customelistener.Listner"/>
</listeners>

  <test name="Test">
    <classes>
      <class name="com.companyname.projectname.testscripts.Test1"/>
      
  <!--     <class name="com.companyname.projectname.testscripts.TC002_testRegistraion"/> -->
    
    </classes>

  </test> 
  
    <test name="Test1">
    <classes>
      <class name="com.companyname.projectname.testscripts.Test2"/>      
    </classes>

  </test> 
</suite> <!-- Suite -->
